<%= include ./partials/head.ejs %>
  <form action="/messages" method="post">
    <input type="text" name="body">
    <input type="submit">
  </form>

<ul id="chat-input-field">
<% messages.forEach(function(message){ %>
  <li class="aaron-<%= message.aaron %>"><%= message.body %>--*--<%= message.aaron %></li>
<% }); %>
</ul>
<%= include ./partials/foot.ejs %>
